# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

.DS_Store
**/__pycache__/**
**.pyc
**/**.pyc
.idea/
.vscode/
venv/**
.venv/**
**/.venv/**
v-env/
.coverage
html_coverage_reports/**
*.zip

